.SmallCard {
  border-radius: 2rem;
  padding: 1.8rem;
  margin: 4rem auto 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--text-black);
  background: rgba(107,237,224,.2);
  box-shadow: 0 .4rem 3rem rgba(0,0,0,.2);
  backdrop-filter: blur(.5rem);
  --webkit-backdrop-filter: blur(.5rem);
  border: .1px solid rgba(107,237,224,.3);
  transition: .3s all ease;
  position: relative;
  grid-template-rows: 14rem;
  max-width: min(100%, 45rem);
  gap: 1rem;
}
.SmallCard:hover {
  box-shadow: 0 .4rem 3rem rgba(0,0,0,.3);
}
.SmallCard__div {
  position: relative;
}
.SmallCard__div__h3 {
  font-size: clamp(7rem, 5vw, 10rem);
  font-weight: 300;
  text-align: right;
}
.SmallCard__div__p.feelslike {
  text-align: right;
  margin-right: 2.5rem;
  font-size: clamp(1.1rem, 1vw, 2rem);
}
.SmallCard__div__p {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.SmallCard__div__span {
  font-size: 1.4rem;
}

/* Icon and condition text */
.condition {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
}
.SmallCard__div--icon {
  height: 6rem;
  width: 100%;
  max-width: 22rem;
  display: flex;
  position: relative;
  margin-bottom: 0;
}
.condition__p {
  font-size: 1.8rem;
  color: gray;
  font-weight: 500;
}


/* City and date */
.city {
  font-size: 1.8rem;
  margin-bottom: 0;
}



@media (min-width: 60rem) {
}