.PartyCloud {
  width: 100%;
  position: relative;
  display: flex;
}
.sun {
  width: 75%;
  height: 14rem;
  position: absolute;
  top: -100%;
  left: 15%;
  z-index: 2;
  bottom: 0;
  animation: sun infinite 30s;
}
.cloud1 {
  width: 54%;
  position: absolute;
  z-index: 1;
  top: -80%;
  animation: cloud1 infinite 12s ease;
}
.cloud {
  width: 54%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 1rem;
  animation: cloud infinite 12s ease;
}
@keyframes sun {
  0% {transform: scale(100%);}
  50% {transform: rotate(180deg) scale(110%);}
  100% {transform: rotate(360deg) scale(100%);}
}
@keyframes cloud1 {
  0% {transform: translateX(0);}
  25% {transform: translateX(1rem) rotate(15deg);}
  50% {transform: translateX(0);}
  75% {transform: translateX(1rem) rotate(-15deg);}
  100% {transform: translateX(0);}
}
@keyframes cloud {
  0% {transform: translateY(0);}
  25% {transform: translateY(.5rem) translateX(.5rem) rotate(5deg);}
  50% {transform: translateY(0);}
  75% {transform: translateY(.5rem) translateX(.5rem) rotate(-5deg);}
  100% {transform: translateY(0);}
}