@font-face {
  font-family: 'titillium';
  src: url('./assets/fonts/TitilliumWeb-Light.ttf'), format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'titillium';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf'), format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'titillium';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf'), format('truetype');
  font-weight: 700;
}
:root {
  --maxwidth: 120rem;
  --font-xxxl: 3.6rem;
  --font-xxl: 3.2rem;
  --font-xl: 1.8rem;
  --font-m: 1.6rem;
  --font-sm: 1.2rem;
  --font-xs: 1rem;
  --font1: 'titillium';
  --primary: ;
  --secondary: ;
}

*, p, h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-m);
  min-height: 100vh;
  font-family: var(--font1), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  min-height: 100vh;
}


/* Global Styles */
.btn-primary, .btn-secondary {
  /* border: none; */
  max-width: min(100%, 40rem);
  height: 4rem;
  font-size: var(--font-xl);
  border-radius: 1rem;
}